@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {

    background-color: #0f0f0f;


    color: white;
}


.shadowBox {
    box-shadow: 2px 2px 18px -7px rgba(254, 180, 180, 0.68);
    -webkit-box-shadow: 2px 2px 17px -7px rgba(254, 180, 180, 0.68);
    -moz-box-shadow: 2px 2px 18px -7px rgba(254, 180, 180, 0.68);
}

.applyFont {
    font-family: 'Anton', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.applyFontsmall {
    font-family: 'Anton', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

body::-webkit-scrollbar {
    width: 6px;
    border-radius: 55px;
}


body::-webkit-scrollbar-thumb {
    background-color: #e93e3e;
    border-radius: 55px;

}